movieDetailsxsd.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movieDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReleaseDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="releaseDate"/>
              <xs:element type="xs:string" name="releaseType"/>
              <xs:element name="cast">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Lead-Male"/>
                    <xs:element type="xs:string" name="Lead-Female"/>
                    <xs:element type="xs:string" name="Director"/>
                    <xs:element type="xs:string" name="Producer"/>
                    <xs:element type="xs:string" name="Music-Director"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>